{# Card #}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-3 m-auto text-center">

    <a href="{{ BaseUrl }}/movie/{{ mov.id }}">

        <div class="card p-0 m-auto text-center rounded shadow">

            <img class="card-img-top" src="{{ TmdbImage }}{{ mov.poster_path }}" alt="Poster Image">

            <div class="card-body p-3 bg-dark text-white">
                <h4 class="card-title p-0 fw-bold">{{ mov.title }}</h4>
                {# <h5 class="card-subtitle p-0 text-muted">({{ mov.release_date|date('Y') }})</h5> #}
                <h1 class="card-text h1 pt-0 fw-bold" style="color: #007bff !important;">{{ mov.vote_average }}</h1>
            </div>

        </div>

    </a>

</div>
